footer.py-3.mt-4.text-bg-dark(id="footer")
    .container
        ul.nav.justify-content-center.border-bottom.pb-2.mb-2
            li.nav-item
                a.nav-link.px-2.text-light(href='/') Home
            li.nav-item
                a.nav-link.px-2.text-light(href='#') Features
            li.nav-item
                a.nav-link.px-2.text-light(href='#') FAQs
            li.nav-item
                a.nav-link.px-2.text-light(href='/about') About
        p.text-center.text-light.m-0 &copy; #{new Date().getFullYear()} | &nbsp; Meerkats, Inc