header.p-3.text-bg-dark.shadow-lg.position-sticky.top-0
    .container
        .d-flex.flex-wrap.align-items-center.justify-content-between
            a.d-flex.align-items-center.mb-2.mb-md-0.text-white.text-decoration-none(href='/dashboard')
                img(src="/assets/images/logo.svg", alt="Notes", width='40', height='32', role='img')/
                h2.me-md-3.fw-bold.fs-2 Notes
            .text-end
                a.btn.btn-outline-light.me-2(href="/auth/logout",type='button') Logout