extends layouts/layout
block content
    .container.d-flex.flex-column.justify-content-center.align-items-center
        h1.text-light.text-center Welcome to the Note App
        p.text-light.text-center Create, edit, and manage your notes with ease.
        a.btn.btn-secondary.btn-lg(href='/auth/google') Use App Free