extends ../../layouts/dashboard
block content
    .container 
        .row.my-2.p-2
            .col-12.d-flex.justify-content-between.align-items-center.mb-3
                h2 Add new note
                a(href="/dashboard/notes", class="btn btn-outline-secondary text-light ")
                    i.fa-solid.fa-left-long
                    sapn.mx-2 Go back 
            .col-md-9.m-auto
                form(action="/dashboard/notes", method="POST", class="bg-dark px-3 py-2 rounded needs-validation", novalidate)
                    div.mb-3
                        label(for="name") Title
                        input(class="form-control has-validation", type="text", name="title", id="name", minlength="5", maxlength="100", placeholder="Write title...", required)/
                        div.invalid-feedback This field is required and min letter 5.
                    div.mb-3
                        label(for="body") Description
                        textarea(class="form-control has-validation", name="body", placeholder="Description...", id="body", minlength="10", maxlength="1000", cols="30", rows="10", required)
                        div.invalid-feedback This field is required and min letter 10.
                    button(type="submit", class="btn btn-success") Add Note